.about {
	margin-top: 150px;
	@media (min-width: $screen-width-sm) {
		margin-top: none;
	}
}

.about p, h2 {
	color: $white-lpc;
	@media (min-width: $screen-width-sm){
		margin-bottom: 3%;
		margin-left: 10%;
		margin-right: 10%;
	}
}

.about h2 {
	margin-bottom: none;
	margin-top: 30px;
	@media (max-width: $screen-width-sm){
		border-bottom: 2px solid $blue-lpc;
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
}

.bio {
	padding-left: 20px;
	padding-right: 20px;
	background-color: $blue-lpc;
	@media (min-width: $screen-width-sm){
		width: 40%;
		margin-left: 100px;
		background-color: inherit;
	}
}
