.about p, h2 {
	color: $white-lpc;
	margin-bottom: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

.about h2 {
	border-bottom: 2px solid $blue-lpc;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

.bio {
	width: 40%;
	margin-left: 100px;
}

.aboutText {
	padding-bottom: 130px;
}
