.about-container {
    width: 100vw;
}

.about-text {
    text-align: left;
    padding-top: 6rem;
    width: 95%;
    margin: 0 auto;
    @media(min-width: $screen-width-md) {
        padding-top: 10rem;
        text-align: left;
        width: 40%;
        // padding-left: 8rem;
        margin: 0 auto;
    }
}

.about-text p,
h2 {
    color: $black-lpc;
    @media (min-width: $screen-width-md) {
        margin-bottom: 3%;
        margin-right: 10%;
        margin-top: 0;
    }
}

.about-text h2 {
    text-align: center;
    margin-bottom: none;
    margin-top: 30px;
    @media (min-width: $screen-width-md) {
        border-bottom: 2px solid $blue-lpc;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
}