// $screen-width-xxs: 374px;
// $screen-width-xs: 414px;
// $screen-width-sm: 768px;
// $screen-width-md: 992px;
// $screen-width-lg: 1200px;

.contact-container {
	margin-top: 2rem;
	@media (min-width: $screen-width-xs) {
		width: 350px;
	}
	@media (min-width: $screen-width-sm) {
		width: 500px;		
	}
}

.contact-email-address {
	width: 200px;
}

.contact-container form {
	display: flex;
	flex-direction: column;
}

.contact-container input {
	margin-bottom: 1rem;
}

.contact-container textarea {
	height: 5rem;
	@media (min-width: $screen-width-sm) {
	 height: 7rem;		
	}
}

.contact-form-submit {
	width: 100px;
	margin-top: 1rem;
}