body {
  box-sizing: border-box;
  margin: 0;
  font-family: $body-text-lpc;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}

h1 {
  letter-spacing: 2px;
  font-size: 3em;
  margin-bottom: 0;
  color: $black-lpc;
  font-weight: 1000;
  text-transform: uppercase;
}

h1:hover {
  text-decoration: none;
}

h2 {
  color: $black-lpc;
  font-size: 38px;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: $black-lpc;
}

button {
	color: $black;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
	background: $white-lpc;
	border: 1px solid #000000;
	border-radius: 3px;
	width: 130px;
	height: 45px;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.sectionTitle {
  padding-top: 10px;
  color: black;
  font-style: bold;
  width: 100%;
  // margin-left: 17%;
}
