body {
  box-sizing: border-box;
  margin: 0;
  font-color: #ede9ce;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}

h1 {
  letter-spacing: 4px;
  font-size: 3em;
  margin-bottom: 0;
}

p {
  font-size: 20px;
}

.sectionTitle {
  padding-top: 10px;
  color: black;
  font-style: bold;
  width: 100%;
  margin-left: 17%;
}
