body {
  box-sizing: border-box;
  margin: 0;
  font-color: #ede9ce;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}

h1 {
  letter-spacing: 2px;
  font-size: 3em;
  margin-bottom: 0;
  color: $black-lpc;
  font-weight: 1000;
  text-transform: uppercase;
}

h1 hover {
  text-decoration: none;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.sectionTitle {
  padding-top: 10px;
  color: black;
  font-style: bold;
  width: 100%;
  margin-left: 17%;
}
