.main {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
	url("../images/city_image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-height: 100vh;
	margin-top: 0;
}

.mainRow {
	margin-top: 25%;
	@media (min-width: $screen-width-sm) {
		margin-top: 10%;
	}
}

.mainText {
		margin-top: 2%;
		text-align: center;
		color: #ffffff;
}

.mainText hr {
	width: 20%;
	border: 0; 
	height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(254, 252, 252, 0.8), rgba(0, 0, 0, 0));
    font-color: #ffffff;
}

.mainText > h1, .mainText > p {
	color: #ffffff;
}

.title {
	font-size: 20px;
	@media (min-width: $screen-width-sm) {
	font-size: 2em;
	}
}

.tagLine {
	font-size: 15px;
	@media (min-width: $screen-width-sm) {
		font-size: 20px;
	}
}

.container h1 {
	margin-top: 17%;
	margin-bottom: 10px;
	font-size: 45px;
	letter-spacing: 7px;
	@media (min-width: $screen-width-sm) {
		margin-top: 17%;
		font-size: 62px;
	}
}