.custom-nav-toggle{
  display: none;
}

@media (max-width: 768px) {
  .navbar-header {
    margin-left:5px;
    // width:100%;
  }
  .navbar-toggle {
    display: block;
    border: none;
    position: fixed;
    right: 44px;
    float: right;
    margin-top: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    width: 20px;
  }

.navbar-toggle.collapsed{
    // background: red;
    // margin: 0;
    // padding: 0;
    // width: 60px;
  }

.navbar-inverse .navbar-toggle {
  border: none;
}

  #bs-nav-demo {
    width: 97%;
    border: none;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }

  .custom-nav-toggle{
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    position: fixed;
    right: 50px;
    background: transparent;
  }

}
