.parallax {
	background-size: 100%;
	background-image: linear-gradient( rgba(0,0,0,.1), rgba(0,0,0,.1) ),
	url(../images/new_sean_drums.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
		@media (min-width: $screen-width-sm) {
		height: 700px;
		background-image: linear-gradient( rgba(0,0,0,.1), rgba(0,0,0,.1) ),
	    url(../images/new_sean_drums.jpg);
	}
}
