$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;
$gray: #808080;
$white: #ede9ce;
$black: #222222;
$navBarBlack: #6e6e6e;

/*lpc redesign color scheme*/
$gray-lpc: #F1EEED;
$white-lpc: #FFFFFF;
$blue-lpc: #3F71E0;
$black-lpc: #0B0B0D;
$heading-text-lpc: 'Anton', sans-serif;
$body-text-lpc: 'Poppins', sans-serif;
