// $screen-width-xxs: 374px;
// $screen-width-xs: 410px;
// $screen-width-sm: 768px;
// $screen-width-md: 992px;
// $screen-width-lg: 1200px;
.headshot {
    background-image: url('../images/spr-new-photo.png');
    background-size: cover;
    border: 1px solid black;
    width: 150px;
    height: 151px;
    border-radius: 50%;
    margin: 0 auto;
    @media (min-width: $screen-width-md) {
        width: 200px;
        height: 200px;
        margin: 0;
    }
}

.social-badge {
    width: 30px;
    height: 30px;
    margin: 10px auto;
}

.headshot-and-intro-text {
    @media (min-width: $screen-width-md) {
        display: flex;
        flex-direction: row;
        padding: 5rem 4rem;
        margin: 1em 0;
        align-items: center;
    }
}

.about-intro-text {
    width: 95%;
    @media (min-width: $screen-width-sm) {
        // margin-left: 4rem;
        width: 85%;
    }
    @media (min-width: $screen-width-md) {
        display: flex;
        align-items: center;
    }
}

@media (min-width: $screen-width-md) {
    .about-intro-text p {
        margin: 0;
    }
}

.expertise {
    width: 100%;
}

.expertise h3 {
    margin: 2rem auto 0.5rem auto;
    text-align: center;
    @media(min-width: $screen-width-md) {
        margin-top: 5rem;
    }
}

.expertise p {
    text-align: center;
    margin-top: 0.5rem;
}

.skill-box-container {
    width: 100%;
    @media (min-width: $screen-width-md) {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
    }
}

.skill-box-header {
    text-align: center;
}

.fa-code,
.fa-server,
.fa-terminal {
    color: $blue-lpc;
    margin-top: 1rem;
    padding-top: 0.2rem;
    color: $blue-lpc;
}

.skill-box {
    background: #fff;
    height: auto;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;
}

.skill-box h4 {
    margin: 0.7rem auto 1rem auto;
    width: max-content;
    @media(min-width: $screen-width-md) {
        font-size: 18px;
    }
}

.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

.skill-name {
    display: inline-block;
    margin: 0;
    text-align: right;
}

.fa-angle-double-right {
    padding-top: 0.3rem;
    color: $blue-lpc;
}

.other-frameworks {
    font-size: 12px;
}