body {
    box-sizing: border-box;
    margin: 0;
    font-family: $body-text-lpc;
    overflow-x: hidden;
    background-color: #F2F2F2;
}

h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
}

h1 {
    letter-spacing: 2px;
    font-size: 2.9rem;
    margin-bottom: 0;
    color: $black-lpc;
    font-weight: 1000;
    text-transform: uppercase;
}

h1:hover {
    text-decoration: none;
}

h2 {
    color: $black-lpc;
    font-size: 2.6rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: $black-lpc;
}

.section-title {
    color: black;
    font-style: bold;
    font-size: 2rem;
    border-bottom: 5px solid $blue-lpc;
    width: max-content;
}

.left-wrapper {
    margin-left: 1rem;
    @media (min-width: $screen-width-sm) {
        margin: 0 4rem;
    }
}

li {
    cursor: pointer;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}