#sean-ryan {
    margin: 0.8rem 0;
    // color: #fff;
}

@media (min-width: $screen-width-md) {
    .inner-nav-wrapper {
        background-color: #0B0B0D;
        color: ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-ul {
        display: flex;
        flex-direction: row;
    }
    .nav-ul>li {
        margin-left: 2rem;
    }
}

.text-highlight-blue-li {
    border-top: 3px solid rgba(36, 113, 224, 1);
    border-bottom: 3px solid rgba(36, 113, 224, 1);
}

.navbar-toggle {
    opacity: 1;
    visibility: visible;
    line-height: 1.455;
}

button:focus {
    outline: none;
}

.navbar-toggle .icon-bar {
    height: 4px;
}

.icon-bar {
    margin-left: 95%;
}

.custom-nav-toggle {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    right: 1rem;
    top: 0.9rem;
    background: transparent;
    @media(min-width: $screen-width-md) {
        display: none;
    }
}

.nav-background-black {
    background-color: #0B0B0D;
    transition: background-color 0.3s;
}

.nav-background-none {
    background-color: transparent;
    transition: background-color 0.3s;
}